{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" href="{% static '/budget/base_styles.css' %}" type="text/css">
</head>
<body>

<div id="container">
    <div id="upper">
        <table style="width: 100%">
            <tr>
                <th><h1 style="text-align: left">Witaj ktoś</h1></th>
                <th><p style="text-align: right">{{ date }}</p></th>
            </tr>
        </table>
    </div>
    <div id="content">
        <form action="{% url 'base' %}" method="post">
            {% csrf_token %}
            <label> Browse:
                <select name="dropdown_panel" onchange="this.form.submit()">
                    <option selected disabled hidden>{{ selected_panel }}</option>
                    <option name="choice" value=1>Income</option>
                    <option name="choice" value=2>Expense</option>
                </select>
            </label>
        </form>
        <hr>
        {% block content %} {% endblock content %}

    </div>
    <div id="short_details">
        <form action="{% url 'base/newincome' %}" method="post">
            {% csrf_token %}
            <button name="income_button" id="income_button" type="submit">Dodaj nowy Income</button>
        </form>
        <form action="{% url 'base/newexpense' %}" method="post">
            {% csrf_token %}
            <button name="expense_button" id="expense_button" type="submit">Dodaj nowy Expense</button>
        </form>
    </div>
    <div id="footer">
        <h1>Footer!!!</h1>
    </div>
</div>
</body>
</html>