{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>BudgetApp</title>
    <link rel="stylesheet" href="{% static '/budget/base_styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block head %}
    {% endblock head %}
</head>
<body>

<div id="container">

        <div id="menu">

            <ul style="background-color: #333">

                <li><a style="float: left; :hover=#111; font-family: Comic Sans MS,serif;" href="{% url 'home' %}">Budget app</a></li>

                {% if user.is_authenticated %}
                    <li><a style="float: right; :hover=#111" href="{% url 'logout' %}">Log Out</a></li>
                    <li><a style="float: right; :hover=#111" href="{% url 'budget' %}">Budget</a></li>
                    <li><a style="float: right; :hover=#111" href="{% url 'profile' %}">Profile</a></li>
                {% else %}
                    <li><a style="float: right; :hover=#111" class="active" href="{% url 'login' %}">Login</a></li>
                    <li><a style="float: right; :hover=#111" href="{% url 'register' %}">Sign Up</a></li>

                {% endif %}


            </ul>

        </div>

    {% block content %}
        <div id="content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content_middle %}
            {% endblock %}
        </div>
        {% block right %}
        {% endblock right %}
    {% endblock %}
    <div id="footer">
        <h5>All rights reserved</h5>
    </div>
</div>
</body>
</html>
