{% extends "budget/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}
<body>
{% block upper_icon %}
    <th style="width: 50px">
        <form action="{% url 'budget' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">
                <img src="{% static '/budget/back-icon.png' %}" alt="" style="width: 40px"/>
            </button>
        </form>
    </th>
{% endblock %}

{% block content_middle %}
    <div id="upper_content_line" class="form-inline" style="margin-left: 50px">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show recent
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>
                <button name="transaction_id" onclick="transaction_type_changed('transaction_type', 1)"
                        class="dropdown-item">
                    Income
                </button>
            </li>
            <li>
                <button name="transaction_id" onclick="transaction_type_changed('transaction_type', 2)"
                        class="dropdown-item">
                    Expense
                </button>
            </li>
            <li>
                <button name="transaction_id" onclick="transaction_type_changed('transaction_type', 3)"
                        class="dropdown-item">
                    Both
                </button>
            </li>
        </ul>
        <i class="fa fa-search" style="margin-left: 20px" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
               id="transaction_search" style="max-width: 400px;" onkeyup="searchTransactions()">
    </div>
    <br>
    <div id="budget_output" style="height: 100%">
    </div>
{% endblock %}

{% block right %}
    <div id="short_details">
        <form action="{% url 'budget/new' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" id="transaction_button" value="new" type="submit">Dodaj
                nową Transakcję
            </button>
        </form>
        <br>
        <button class="btn btn-info" id="charts_post_button" onclick="redirect_to_charts()" type="submit">Dodaj
            Pokaż wykres
        </button>
        <hr>
        {% block short_details %}
            <form name="filter_form" id="filter-form" method="post">
                {% csrf_token %}
                <hr id="filter_line_break"/>
                <div id="filer-form-price" class="form-inline">
                    <label for="priceInFrom" class="mr-sm-2">Price:</label>
                    <input name="priceFrom" type="number" class="col-0 form-control form-control-sm" id="priceInFrom"
                           placeholder="from" value={{ form.priceFrom.value }}>
                    <label for="priceInTo" style="width: 20px"> - </label>
                    <input name="priceTo" type="number" class="form-control form-control-sm" id="priceInTo"
                           placeholder="to" value={{ form.priceTo.value }}>
                </div>
                <div id="
" class="form-inline" style="padding-top: 10px">
                    <label for="dateInFrom" class="mr-sm-2">Date:</label>
                    <input name="dateFrom" type="date" id="dateInFrom" placeholder="dd/mm/yyyy"
                           data-date-format="dd/mm/yyyy"
                           class="col-0 form-control form-control-sm"
                           data-provide="datepicker-inline"
                           value={{ form.dateFrom.value }}>
                    <label for="dateInTo" style="width: 20px"> - </label>
                    <input name="dateTo" type="date" id="dateInTo" placeholder="dd/mm/yyyy"
                           data-date-format="dd/mm/yyyy"
                           class="col-0 form-control form-control-sm"
                           data-provide="datepicker-inline"
                           value={{ form.dateTo.value }}>
                </div>
                <div id="filter-form-time" class="form-inline" style="padding-top: 10px">
                    <label for="timeInFrom" class="mr-sm-2">Time:</label>
                    <input name="timeFrom" type="time" id="timeInFrom" placeholder="hh:mm"
                           class="col-0 form-control form-control-sm"
                           value={{ form.timeFrom.value }}>
                    <label for="timeInTo" style="width: 20px"> - </label>
                    <input name="timeTo" type="time" id="timeInTo" placeholder="hh:mm"
                           class="col-0 form-control form-control-sm"
                           value={{ form.timeTo.value }}>
                </div>
                <hr id="filter_line_break"/>
                <div id="filter-form-category" class="form-inline" style="min-height: 48px; width: fit-content;">

                </div>
                <div id="filter-form-selected_category" class="form-inline" style="padding-top: 10px">

                </div>
                <hr id="filter_line_break"/>
                <div id="filter-form-monthly" class="form-inline" style="padding: 5px">
                    <button id="filter-form-monthly-button" class="btn btn-secondary"
                            type="button">Monthly
                        <i class="fa fa-minus-square-o"></i>
                    </button>
                </div>
                <hr id="filter_line_break"/>
                <div id="filter-form-sort" style="padding: 5px">
                    <label>Sort by </label>
                    <button id="filter-form-sort-text" class="btn btn-primary dropdown-toggle" type="button"
                            data-toggle="dropdown">Sort by
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 1)"
                                    class="dropdown-item">Date desc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 2)"
                                    class="dropdown-item">Date asc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 3)"
                                    class="dropdown-item">Price asc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 4)"
                                    class="dropdown-item">Price asc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 5)"
                                    class="dropdown-item">name
                            </button>
                        </li>
                    </ul>
                </div>
                <hr id="filter_line_break"/>
                <input id="submit-filter" class="btn btn-info" type="submit" value="Filer"
                       style="margin-top: 10px; width: 70px">
            </form>
            <div id="filter-form-buttons" style="margin-top: 10px">
                <button class="btn btn-warning" style="width: 70px;" onclick="clearFilter()">Clear</button>
                <button class="btn btn-danger" style="width: 100px" onclick="onRemoveClick()">Remove</button>
            </div>
        {% endblock %}
    </div>

    <script type="text/javascript">
        request_new_data();
        console.log(sessionStorage);

        $("#filter-form").submit(function (e) {
            e.preventDefault();
            request_new_data();
        });

        createCategoriesButtons({{ categories|safe }});

        sort_by = '';
        if (sessionStorage['br_sort_by'] != null) {
            sort_by = sessionStorage['br_sort_by'];
        } else {
            sessionStorage['br_sort_by'] = '&sort_by=1';
            sort_by = '1';
        }
        change_sort_by_button(sort_by);

        const monthlyButton = document.getElementById('filter-form-monthly-button');
        if (sessionStorage['br_monthly'] != null) {
            var value = sessionStorage['br_monthly'];
            change_monthly_button(value);
            monthlyButton.onclick = function () {
                on_monthly_button_click(value);
            }
        } else {
            monthlyButton.onclick = function () {
                on_monthly_button_click('')
            }
        }

        function createCategoriesButtons(obj) {
            obj.forEach(e => {
                var id = e.pk;
                var name = e.fields.name;
                if (sessionStorage['br_selCategory' + id] == null) {
                    add_category_button(name, id)
                } else {
                    remove_category_button(name, id);
                }
            })
        }

        function searchTransactions() {
            var input = document.getElementById("transaction_search");
            var filter = input.value.toUpperCase();
            var budget = document.getElementById("budget_output");
            var trans = budget.getElementsByClassName("budget_item");

            for (let i = 0; i < trans.length; i++) {
                var el = trans[i].getElementsByTagName('h6')[0];
                var text = el.textContent || el.innerText;
                if (text.toUpperCase().indexOf(filter) > -1) {
                    trans[i].style.display = "";
                } else {
                    trans[i].style.display = "none";
                }
            }
        }

        function transaction_type_changed(text, value) {
            sessionStorage['br_' + text] = '&' + text + '=' + value;
            request_new_data()
        }

        function showRemoveIcons() {
            var list = document.getElementsByClassName('budget_item_icons');
            console.log(list);
            for (let i = 0, len = list.length; i < len; i++) {
                const imgDelete = document.createElement('a');
                const checkboxDelete = document.createElement('input');
                const elementRoot = document.getElementsByClassName('budget_item')[i];
                const id = list[i].dataset.id;
                imgDelete.style = 'font-size: 30px; float: top; cursor: pointer';
                imgDelete.innerHTML = '<i class="fa fa-trash-o"></i>';
                imgDelete.onclick = ev => {
                    remove_transaction("&transaction_id=" + id);
                    elementRoot.remove();
                    if (document.getElementsByClassName('budget_item_icons').length === 0) {
                        document.getElementById('budget_output').innerText = "All transaction are gone!";
                    }
                };
                list[i].appendChild(imgDelete);
            }
            const buttonRemSelected = document.createElement('button');
            buttonRemSelected.innerHTML = 'Remove filtred <i class="fa fa-trash-o"></i>';
            buttonRemSelected.id = 'upper_content_line_remove_selected_button';
            buttonRemSelected.style = 'margin-left:10px';
            buttonRemSelected.className = 'btn btn-danger';
            buttonRemSelected.onclick = ev => {
                var result = confirm("Remove all filtered transactions?");
                if (result === false) return;
                let trans = "";
                for (let i = 0, len = list.length; i < len; i++) {
                    trans += "&transaction_id=" + list[i].dataset.id;
                }
                const elementRoot = document.getElementById('budget_output');
                while (elementRoot.firstChild) {
                    elementRoot.removeChild(elementRoot.firstChild)
                }
                remove_transaction(trans);
                elementRoot.innerText = "All transaction are gone!";

            };
            document.getElementById('upper_content_line').appendChild(buttonRemSelected);
        }

        function hideRemoveIcons() {
            document.getElementById('upper_content_line_remove_selected_button').remove();
            var list = document.getElementsByClassName('budget_item_icons');
            for (let i = 0, len = list.length; i < len; i++) {
                while (list[i].firstChild) {
                    list[i].removeChild(list[i].firstChild);
                }
            }
        }

        function onRemoveClick() {
            var list = document.getElementsByClassName('budget_item_icons');
            if (list.length === 0) return;
            if (list[0].hasChildNodes()) hideRemoveIcons();
            else showRemoveIcons();
        }

        function on_sort_changed(name, value) {
            sessionStorage['br_' + name] = "&" + name + "=" + value;
            change_sort_by_button(value.toString());
            request_new_data();
        }

        function clearFilter() {
            var descendents = document.getElementById('filter-form-selected_category').children;
            descendents = Array.prototype.slice.call(descendents);
            descendents.forEach(value1 => {
                document.getElementById(value1.name + value1.value).remove();
                add_category_button(value1.name, value1.value);
            });

            for (let i = sessionStorage.length - 1; i >= 0; i--) {
                var key = sessionStorage.key(i);
                if (!key.startsWith('br_')) continue;
                console.log("removing: " + key);
                sessionStorage.removeItem(key);
            }

            const filter = document.getElementById('filter-form');
            filter.reset();
            request_new_data('reset', true);
            change_monthly_button('');
            change_sort_by_button("1");
        }

        function change_monthly_button(monthlyValue) {
            const monthlyButton = document.getElementById('filter-form-monthly-button');
            let icon = '';
            if (monthlyValue === 'True') icon = '<i class="fa fa-square"></i>';
            else if (monthlyValue === 'False') icon = '<i class="fa fa-square-o"></i>';
            else icon = '<i class="fa fa-minus-square-o"></i>';
            monthlyButton.innerHTML = 'Monthly ' + icon;
        }

        function change_sort_by_button(value) {
            sort_by_button = document.getElementById('filter-form-sort-text');
            if (value === '1') {
                sort_by_button.innerText = 'Date desc';
            } else if (value === '2') {
                sort_by_button.innerText = 'Date asc'
            } else if (value === '3') {
                sort_by_button.innerText = 'Price desc'
            } else if (value === '4') {
                sort_by_button.innerText = 'Price asc'
            } else if (value === '5') {
                sort_by_button.innerText = 'Name'
            }
        }

        function on_monthly_button_click(value) {
            const button = document.getElementById('filter-form-monthly-button');
            let newValue = "";
            let newIcon = '';
            if (value === 'True') {
                newValue = 'False';
                newIcon = '<i class="fa fa-square-o"></i>'
            } else if (value === 'False') {
                newValue = '';
                newIcon = '<i class="fa fa-minus-square-o"></i>'
            } else {
                newValue = 'True';
                newIcon = '<i class="fa fa-square"></i>'
            }
            button.innerHTML = 'Monthly ' + newIcon;
            sessionStorage['br_monthly'] = '&monthly=' + newValue;
            request_new_data();
            button.onclick = function () {
                on_monthly_button_click(newValue);
            };
        }

        function remove_category_button(text, value) {
            var button = document.createElement('button');
            button.innerHTML = text + ' <i class="fa fa-minus"></i>';
            button.id = text + value;
            button.name = text;
            button.value = value;
            button.className = 'btn btn-secondary';
            button.style = 'margin-right: 5px; margin-top: 5px';
            button.addEventListener('click', function () {
                on_rem_category_button(text, value);
            });

            const divv = document.getElementById('filter-form-selected_category');
            divv.appendChild(button);
        }

        function add_category_button(text, value) {
            var button = document.createElement('button');
            button.innerHTML = text + ' <i class="fa fa-plus"></i>';
            button.name = text;
            button.value = value;
            button.id = text + value;
            button.className = "btn btn-secondary";
            button.style = "margin-right: 5px; margin-top: 5px";
            button.addEventListener('click', function () {
                on_add_category_button(text, value);
            });

            const divv = document.getElementById('filter-form-category');
            divv.appendChild(button);
        }

        function on_add_category_button(text, value) {
            document.getElementById(text + value).remove();
            remove_category_button(text, value);
            sessionStorage['br_selCategory' + value] = '&selectedCategory=' + value;
            request_new_data();
        }

        function on_rem_category_button(text, value) {
            document.getElementById(text + value).remove();
            add_category_button(text, value);
            sessionStorage.removeItem('br_selCategory' + value);
            request_new_data();
        }

        function remove_transaction(transaction_id) {
            const filter = $('#filter-form');
            let data = filter.serialize();
            data += transaction_id;
            console.log(data);
            $.ajax({
                type: 'POST',
                url: "{% url 'budget_delete' %}",
                data: data,
            });
        }

        function submitEdiForm() {
            document.getElementById('form_transaction').submit();
            return false;
        }

        function redirect_to_charts() {
            const filter = $('#filter-form');
            let data = filter.serialize();
            for (let i = 0; i < sessionStorage.length; i++) {
                if (!sessionStorage.key(i).startsWith('br_')) continue;
                const sessionStorageVal = sessionStorage[sessionStorage.key(i)];
                data += sessionStorageVal;
            }
            console.log(sessionStorage);
            console.log(data);

            window.location = 'http://127.0.0.1:8000/budget/chart?' + data;
            {#a = window.location = "{% url 'budget/chart' %}/?" + data;#}
            return;
            $.ajax({
                type: 'POST',
                url: "{% url 'budget/chart' %}",
                data: data,
                success: function (data) {
                    document.getElementById('budget_output').innerHTML = data;
                }
            });
        }

        function request_new_data(valueName, value) {
            const filter = $('#filter-form');
            let data = filter.serialize();
            for (let i = 0; i < sessionStorage.length; i++) {
                if (!sessionStorage.key(i).startsWith('br_')) continue;
                const sessionStorageVal = sessionStorage[sessionStorage.key(i)];
                data += sessionStorageVal;
            }

            if (valueName != null) {
                data += "&" + valueName + "=" + value;
            }
            console.log(sessionStorage);
            console.log(data);
            $.ajax({
                type: 'POST',
                url: "{% url 'get_budget' %}",
                data: data,
                success: function (data) {
                    document.getElementById('budget_output').innerHTML = data;
                }
            });
        }
    </script>
{% endblock %}