{% extends "budget/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
<body>
{% block upper_icon %}
    <th style="width: 50px">
        <form action="{% url 'budget' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">
                <img src="{% static '/budget/back-icon.png' %}" alt="" style="width: 40px"/>
            </button>
        </form>
    </th>
{% endblock %}

{% block content_middle %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show recent
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>
                <button onclick="request_new_data('transaction_type', 1)" class="dropdown-item">
                    Income
                </button>
            </li>
            <li>
                <button onclick="request_new_data('transaction_type', 2)" class="dropdown-item">
                    Expense
                </button>
            </li>
        </ul>
    </div>
    <br>
    <div id="budget_output">
    </div>
{% endblock %}

{% block right %}

    <div id="short_details">
        <form action="{% url 'budget/new_income' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" id="income_button" value="income" type="submit">Dodaj nowy
                Income
            </button>
        </form>

         <form action="{% url 'budget/new_expense' %}" method="post">
             {% csrf_token %}
            <button class="btn btn-info" id="expense_button" value="expense" type="submit">Dodaj
                nowy Expense
            </button>
        </form>
        <hr>
        {% block short_details %}
            <form name="filter_form" id="filter-form" method="post">
                {% csrf_token %}
                <hr id="filter_line_break"/>
                <div id="filer-form-price" class="form-inline">
                    <label for="priceInFrom" class="mr-sm-2">Price:</label>
                    <input name="priceFrom" type="number" class="col-0 form-control form-control-sm" id="priceInFrom"
                           placeholder="from" value={{ form.priceFrom.value }}>
                    <label for="priceInTo" style="width: 20px"> - </label>
                    <input name="priceTo" type="number" class="form-control form-control-sm" id="priceInTo"
                           placeholder="to" value={{ form.priceTo.value }}>
                </div>
                <div id="filter-form-date" class="form-inline" style="padding-top: 10px">
                    <label for="dateInFrom" class="mr-sm-2">Date:</label>
                    <input name="dateFrom" type="date" id="dateInFrom" placeholder="dd/mm/yyyy"
                           data-date-format="dd/mm/yyyy"
                           class="col-0 form-control form-control-sm"
                           data-provide="datepicker-inline"
                           value={{ form.dateFrom.value }}>
                    <label for="dateInTo" style="width: 20px"> - </label>
                    <input name="dateTo" type="date" id="dateInTo" placeholder="dd/mm/yyyy"
                           data-date-format="dd/mm/yyyy"
                           class="col-0 form-control form-control-sm"
                           data-provide="datepicker-inline"
                           value={{ form.dateTo.value }}>
                </div>
                <div id="filter-form-time" class="form-inline" style="padding-top: 10px">
                    <label for="timeInFrom" class="mr-sm-2">Time:</label>
                    <input name="timeFrom" type="time" id="timeInFrom" placeholder="hh:mm"
                           class="col-0 form-control form-control-sm"
                           value={{ form.timeFrom.value }}>
                    <label for="timeInTo" style="width: 20px"> - </label>
                    <input name="timeTo" type="time" id="timeInTo" placeholder="hh:mm"
                           class="col-0 form-control form-control-sm"
                           value={{ form.timeTo.value }}>
                </div>
                <hr id="filter_line_break"/>
                <div id="filter-form-category" class="form-inline" style="min-height: 48px; width: fit-content;">
                    {% for category in categories %}
                        {% if not selected_categories or category not in selected_categories %}
                            <button name="recCategory"
                                    onclick="on_add_category_button('{{ category.name }}',{{ category.id }})"
                                    id="{{ category.name }}{{ category.id }}" class="btn btn-secondary"
                                    name="{{ category.name }}" value="{{ category.id }}"
                                    style="margin-right: 5px; margin-top: 5px">
                                {{ category.name }}
                                <i class="fa fa-plus"></i></button>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="filter-form-selected_category" class="form-inline" style="padding-top: 10px">
                    {% if selected_categories %}
                        {% for categorie in selected_categories %}
                            <button name="remCategory"
                                    onclick="on_rem_category_button('{{ categorie.name }}',{{ categorie.id }})"
                                    id="{{ categorie.name }}{{ categorie.id }}" class="btn btn-secondary"
                                    name="{{ categorie.name }}" value="{{ categorie.id }}"
                                    style="margin-right: 5px; margin-top: 5px">
                                {{ categorie.name }}
                                <i class="fa fa-minus"></i></button>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr id="filter_line_break"/>
                <div id="filter-form-monthly" class="form-inline" style="padding: 5px">
                    <button id="filter-form-monthly-button" class="btn btn-secondary"
                            type="button">Monthly
                        <i class="fa fa-minus-square-o"></i>
                    </button>
                </div>
                <hr id="filter_line_break"/>
                <div id="filter-form-sort" class="form-inline" style="padding: 5px">
                    <button id="filter-form-sort-text" class="btn btn-primary dropdown-toggle" type="button"
                            data-toggle="dropdown">Sort by
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 1)"
                                    class="dropdown-item">Date desc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 2)"
                                    class="dropdown-item">Date asc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 3)"
                                    class="dropdown-item">Price asc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 4)"
                                    class="dropdown-item">Price asc
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="on_sort_changed('sort_by', 5)"
                                    class="dropdown-item">name
                            </button>
                        </li>
                    </ul>
                </div>
                <hr id="filter_line_break"/>
                <input id="submit-filter" class="btn btn-info" type="submit" value="Filer"
                       style="margin-top: 10px; width: 70px">
            </form>
            <div id="filter-form-buttons" style="margin-top: 10px">
                <button class="btn btn-warning" style="width: 70px" onclick="clearFilter()">Clear</button>
            </div>
        {% endblock %}
    </div>

    <script type="text/javascript">
        request_new_data(null, null);
        $("#filter-form").submit(function (e) {
            e.preventDefault();
            request_new_data(null, null);
        });

        sort_by = '';
        console.log(sessionStorage['sort_by']);
        if (sessionStorage['sort_by'] == null) {
            sessionStorage['sort_by'] = 1;
            sort_by = '1';
        } else {
            sort_by = sessionStorage['sort_by'];
        }
        change_sort_by_button(sort_by);

        const monthlyButton = document.getElementById('filter-form-monthly-button');
        if (sessionStorage['monthly'] != null) {
            var value = sessionStorage['monthly'];
            change_monthly_button(value);
            monthlyButton.onclick = function () {
                on_monthly_button_click(value);
            }
        } else {
            monthlyButton.onclick = function () {
                on_monthly_button_click('')
            }
        }

        function on_sort_changed(name, value) {
            sessionStorage[name] = value;
            change_sort_by_button(value.toString());
            request_new_data(null, null);
        }

        function clearFilter() {
            var descendents = document.getElementById('filter-form-selected_category').children;
            descendents = Array.prototype.slice.call(descendents);
            descendents.forEach(value1 => {
                add_category_button(value1.name, value1.value);
            });
            console.log(descendents);

            sessionStorage.clear();
            const filter = document.getElementById('filter-form');
            filter.reset();
            request_new_data('reset', true);
            change_monthly_button('');
            change_sort_by_button("1");
        }

        function change_monthly_button(monthlyValue) {
            const monthlyButton = document.getElementById('filter-form-monthly-button')
            let icon = '';
            if (monthlyValue === 'True') icon = '<i class="fa fa-square"></i>';
            else if (monthlyValue === 'False') icon = '<i class="fa fa-square-o"></i>';
            else icon = '<i class="fa fa-minus-square-o"></i>';
            monthlyButton.innerHTML = 'Monthly ' + icon;
        }

        function change_sort_by_button(value) {
            sort_by_button = document.getElementById('filter-form-sort-text');
            if (value === '1') {
                sort_by_button.innerText = 'Date desc';
            } else if (value === '2') {
                sort_by_button.innerText = 'Date asc'
            } else if (value === '3') {
                sort_by_button.innerText = 'Price desc'
            } else if (value === '4') {
                sort_by_button.innerText = 'Price asc'
            } else if (value === '5') {
                sort_by_button.innerText = 'Name'
            }
        }

        function on_monthly_button_click(value) {
            console.log();
            const button = document.getElementById('filter-form-monthly-button');
            let newValue = "";
            let newIcon = '';
            if (value === 'True') {
                newValue = 'False';
                newIcon = '<i class="fa fa-square-o"></i>'
            } else if (value === 'False') {
                newValue = '';
                newIcon = '<i class="fa fa-minus-square-o"></i>'
            } else {
                newValue = 'True';
                newIcon = '<i class="fa fa-square"></i>'
            }
            button.innerHTML = 'Monthly ' + newIcon;
            sessionStorage['monthly'] = newValue;
            request_new_data(null, null);
            button.onclick = function () {
                on_monthly_button_click(newValue);
            };
        }

        function remove_category_button(text, value) {
            document.getElementById(text + value).remove();

            var button = document.createElement('button');
            button.innerHTML = text + ' <i class="fa fa-minus"></i>';
            button.id = text + value;
            button.name = text;
            button.value = value;
            button.className = 'btn btn-secondary';
            button.style = 'margin-right: 5px; margin-top: 5px';
            button.addEventListener('click', function () {
                on_rem_category_button(text, value);
            });

            const divv = document.getElementById('filter-form-selected_category');
            divv.appendChild(button);
        }

        function add_category_button(text, value) {
            document.getElementById(text + value).remove();

            var button = document.createElement('button');
            button.innerHTML = text + ' <i class="fa fa-plus"></i>';
            button.name = text;
            button.value = value;
            button.id = text + value;
            button.className = "btn btn-secondary";
            button.style = "margin-right: 5px; margin-top: 5px";
            button.addEventListener('click', function () {
                on_add_category_button(text, value);
            });

            const divv = document.getElementById('filter-form-category');
            divv.appendChild(button);
        }

        function on_add_category_button(text, value) {
            remove_category_button(text, value);
            request_new_data('recCategory', value);
        }

        function on_rem_category_button(text, value) {
            add_category_button(text, value);
            request_new_data('remCategory', value);
        }

        function request_new_data(valueName, value) {
            const filter = $('#filter-form');
            let data = filter.serialize();
            if (valueName != null) {
                data += "&" + valueName + "=" + value;
            }
            for (let i = 0; i < sessionStorage.length; i++) {
                const sessionStorageVal = sessionStorage[sessionStorage.key(i)];
                data += "&" + sessionStorage.key(i) + "=" + sessionStorageVal;
            }
            console.log(data);
            $.ajax({
                type: 'POST',
                url: "{% url 'get_budget' %}",
                data: data,
                success: function (data) {
                    document.getElementById('budget_output').innerHTML = data;
                }
            });
        }
    </script>
{% endblock %}

