{% extends "budget/base.html" %}

{% block head %}

{% endblock head %}

{% block upper %}


{% endblock %}

{% block content_middle %}
    <div id="id_test">
        {% if category_list %}
            <div>
                {% for category in category_list %}
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse"
                               href="#collapse{{ forloop.counter }}">{{ category.name }}
                                ({{ category.user.login }})
                                {% if category.monthly %} | Monthly {% endif %}</a>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse show">
                                {% load base_extra %}
                                {% with item_list|get:category as cat_items %}
                                    <div class="panel-body">
                                        {% for item in cat_items %}
                                            {% if item.type == "expense" %}
                                                - Wydatek: {{ item.name }}, Koszt: {{ item.amount }} <br>
                                            {% elif item.type == "income" %}
                                                - Wpływ: {{ item.name }}, Kwota: {{ item.amount }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% else %}
            <p>No categories are available.</p>
        {% endif %}
    </div>
{% endblock %}

{% block right %}
    <div id="short_details">
        <form action="{% url 'budget/new' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" id="new_button" value="new" type="submit">Dodaj Nową Transakcję
            </button>
        </form>
        <hr>
        <form action="{% url 'budget/new_category' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" id="new_category_button" value="new_category_button" type="submit">Dodaj Nową Kategorię
            </button>
        </form>
        <hr>
        <form action="{% url 'budget/chart' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" id="chart_button" value="chart_button" type="submit">Pokaż wykres
            </button>
        </form>


        <hr>
        <form action="{% url 'budget/recent' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" name="expense_button" id="expense_button" value="expense" type="submit">
                Show recent
            </button>
        </form>
    </div>
{% endblock %}