<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart</title>
</head>
<body>
  <div id="container" style="width:100%; height:75%;"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Overall overview'
        },
        xAxis: {
            categories: {{ categories|safe }}
        },
        yAxis: {
            title: {
                text: 'Money spend'
            }
        },
        series: [{
            name: 'Expanses(current month)',
            data: {{sums_list_current}}
        },
        {
          name: 'Expanses(previous month)',
          data: {{sums_list_previous}}
        }]
    });
});
  </script>




<form action="{% url 'budget' %}" method="post">
  {% csrf_token %}
  <button class="btn btn-info" style="height: 75px; width: 400px; position: relative; top: 40px; left: 650px;" id="chart_button" value="chart_button" type="submit">
  <font size="6">Return</font>
  </button>
</form>  

</body>
</html>