{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'budget/chart.css' %}">

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart</title>
</head>
<body>
  <div id="container" align="right" style="width:100%; height:75%;"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar',
            floating: true,
            backgroundColor: '#F5F5F5',
    		layout: 'horizontal',
    		align: 'center',
    		verticalAlign: 'top'
        },
        title: {
            text: 'Overall overview'
        },
        xAxis: {
            categories: {{ categories|safe }}
        },
        yAxis: {
            title: {
                text: 'Money spend'
            }
        },
        series: [{
            name: 'Expanses(current month)',
            data: {{sums}}
        }]
    });
});
  </script>



<form action="{% url 'budget/recent' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info" style="height: 75px; width: 400px; position: relative; top: 40px; left: 650px;" id="chart_button" value="chart_button" type="submit">
            <font size="6">Return</font>
            </button>
</form>


  
</body>
</html>