<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart</title>
</head>
<body>
     <div id="content" style="width: 100%">
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Overall overview'
        },
        xAxis: {
            categories: {{ categories|safe }}
        },
        yAxis: {
            title: {
                text: 'Money spend'
            }
        },
        series: [{
            name: 'Expanses(current month)',
            data: {{sums}}
        }]
    });
});
  </script>


</div>
{{categories_id}}
</body>
</html>