{% load static %}


{% if transaction_list %}
    {% for transaction in transaction_list %}
        <table class="budget_item">
            <tr>
                <th style="width: 50px; vertical-align: top"
                    class="budget_item_icons "
                    data-id="{{ transaction.id }}"></th>
                <th style="font-weight: normal"
                    class="shadow-sm p-3 mb-5 bg-white budget_item_desc">
                    {% if transaction.type == 'expense' %}
                        <form id="form_transaction" action="{% url 'edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="transaction_id" value={{ transaction.id }}>
                            <a href="#" onclick="return submitEdiForm()">
                                <h6>Expense: {{ transaction.name }} </h6>
                            </a>
                        </form>
                        Desc: {{ transaction.desc }} <br>
                        Price: {{ transaction.amount }} <br>
                        Date: {{ transaction.date }} <br>
                    {% else %}
                        <h6>Income: {{ transaction.name }} </h6>
                        Desc: {{ transaction.desc }} <br>
                        Amount: {{ transaction.amount }} <br>
                        Date: {{ transaction.date }} <br>
                    {% endif %}
                </th>
            </tr>
            <tr class="budget_spacer"></tr>
        </table>
    {% endfor %}
{% else %}
    <p style="margin-left: 50px">No transactions are available.</p>
{% endif %}


