{% extends "budget/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block upper_icon %}
    <th style="width: 50px">
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">
                <img src="{% static '/budget/back-icon.png' %}" alt="" style="width: 40px"/>
            </button>
        </form>
    </th>
{% endblock %}

{% block content %}
    <div id="content" style="width: 100%">


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed semper mauris, molestie pharetra tellus. Nullam consequat neque fermentum venenatis euismod. Vivamus velit risus, efficitur nec nulla et, tincidunt interdum tellus. Aliquam vel malesuada metus. Integer facilisis vitae enim id posuere. Aliquam non egestas justo. Maecenas euismod viverra nibh, ut vulputate velit iaculis a. Mauris ut lectus nec orci tempus vestibulum quis vitae nisi. Nullam sed porttitor velit, vitae condimentum felis. Ut libero enim, blandit vel faucibus sit amet, sagittis at tortor. Sed fringilla nibh a eros laoreet eleifend. Fusce posuere in justo quis vestibulum. Vestibulum suscipit pellentesque sapien, sed commodo enim blandit sed. Sed at facilisis mi. Sed neque ligula, dapibus eget sapien vel, semper ultricies neque.

Pellentesque facilisis fermentum metus, bibendum condimentum risus aliquet quis. Mauris vitae facilisis enim, et dapibus ligula. Suspendisse lacinia pretium enim, eget tempor arcu rhoncus id. Aliquam feugiat tristique enim, non interdum arcu aliquet venenatis. Pellentesque ut mollis quam. Fusce vulputate interdum tortor, nec pellentesque nulla aliquam at. Vestibulum odio lacus, maximus eu porttitor ut, posuere sit amet orci. Nam nec elementum dolor. Vivamus elit diam, suscipit a euismod in, sollicitudin eu justo. Curabitur lobortis nunc vel nibh finibus, id convallis urna hendrerit. Sed venenatis metus eu odio ullamcorper eleifend. Vivamus vitae felis et nisi elementum luctus. Integer ac nulla ac tortor iaculis ultrices eu ultricies leo. In risus purus, pulvinar at ipsum ut, malesuada placerat libero. Praesent felis nisi, auctor at ullamcorper quis, viverra ut nibh.

In in nibh nisi. Nam sodales nibh at finibus auctor. Nullam ullamcorper consequat enim sed scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis eget neque ornare, interdum lorem at, laoreet nunc. Etiam in felis eget est mattis tempor. Pellentesque tristique, nisl eget pellentesque aliquam, neque justo facilisis enim, eu venenatis nunc est ut nisi. Vivamus luctus sed nulla at suscipit. Pellentesque nisl sapien, porta non lectus et, sagittis consequat libero. Maecenas et massa iaculis tellus fringilla varius ac quis velit. Nam pulvinar, sem at vulputate tempor, leo justo scelerisque erat, vel elementum velit justo finibus risus. In sed odio ut neque mattis sodales ac quis ipsum. Morbi maximus a metus vitae consectetur. Mauris quis posuere turpis, sed egestas nibh. In lobortis id metus ac commodo. Aenean euismod porta purus nec fermentum.

Nulla condimentum odio sed pulvinar mattis. Nullam lectus augue, laoreet ut quam maximus, bibendum feugiat ex. Curabitur vitae diam lacinia, lacinia purus sit amet, faucibus felis. Donec ut mi pulvinar, eleifend ipsum eget, hendrerit nisi. Etiam mollis, tortor quis convallis scelerisque, nibh libero pharetra augue, et commodo tellus ipsum vel nulla. Aliquam mi diam, malesuada vitae lacus vitae, dignissim ultricies leo. In venenatis luctus lectus vel suscipit. Integer id nisi a dui viverra ullamcorper sed non urna. Ut nec nisl metus. Nam porttitor, nisi vitae bibendum dignissim, leo enim aliquet nunc, at malesuada nisl elit at leo. Etiam in tempor risus, vel vulputate tortor. Morbi congue purus non ante congue aliquet. Suspendisse imperdiet suscipit ante, eu blandit lacus dictum non.

Nulla commodo laoreet nisi blandit cursus. Etiam molestie lacus sed lectus congue luctus. Sed sed gravida felis. Integer id arcu ac nulla tempus iaculis. Vestibulum congue cursus sagittis. Sed ultrices leo ac suscipit mattis. Curabitur vel vestibulum augue. Nulla ultrices purus ut tellus lacinia placerat. Nunc sed facilisis diam, at gravida ante. Curabitur non sapien et nisl porttitor dapibus a a mi.
    </div>

{% endblock content %}

{% block short_details %}
{% endblock %}