{% extends "budget/base.html" %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}

{% block upper %}

{% endblock %}

{% block content %}
    <div class="content-section"
    id="content"
    style="width: 100%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New transaction</legend>
            </fieldset>

{#            Nazwa: <input type="text" name="name">#}
{#            <br/>#}
{#            <br/>#}
{##}
{#            Opis: <input type="text" name="description"><br/>#}
{#            <br/>#}
{#            <br/>#}
{##}
{#            <select name="type">#}
{#                <option value="income">Przychód</option>#}
{#                <option value="expense">Wydatek</option>#}
{#            </select>#}
{#            <br/>#}
{#            <br/>#}
{##}
{#            <select name="category">#}
{#                {% for category in user_category %}#}
{#                <option>{{ category.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <br/>#}
{#            <br/>#}
{##}
{#            Data: <input type="datetime-locale" name="date">#}
{#            <br/>#}
{#            <br/>#}
{##}
{##}
{#            Cena: <input type="number" name="price">#}
{#            <br/>#}

            {{ form.as_p }}

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block short_details %}
{% endblock %}