{% extends "budget/base.html" %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}

{% block upper %}

{% endblock %}

{% block content %}
    <div id="container" style="width: 70%; padding: 100px 200px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Category</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block short_details %}
{% endblock %}