{% extends "budget/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block upper_icon %}

{% endblock %}

{% block content %}
    <div id="container" style="width: 60%; padding: 100px 350px 100px 350px;text-align: center">
        <div id="profile">
            <h1>Profile</h1>
            <p>Username: {{ user }}</p>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>

            <br/>
            <a href="{% url 'edit_profile' %}" class="btn btn-info">Edit</a>
        </div>
    </div>

{% endblock content %}

{% block short_details %}
{% endblock %}